@charset "UTF-8";
/*
    em HTML  é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(190, 249, 102);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(45, 64, 17);
}

h1#principal{
    text-align: center;
    background-color: rgb(45, 64, 17);
    color: white;
}

h2 {
    color: rgb(9, 184, 15);
}

.basico{
    color: rgb(32, 179, 32);

}

.intermediario {
    color: rgb(252, 255, 84);
}

.avancado {
    color: rgb(255, 80, 80);
}

.destaque {
    background-color: rgba(184, 184, 44, 0.628);
}